:root{
    --main-color: #2c786c;
    --text-color: #faf5e4;
    --background-color:#012727;
    --background-color-second:#022929
}
body{
    background-color: var(--background-color);
    color:var(--text-color);
}

 


    
